<main class="container-fluid principal">
    <section class="container">
        <div class="row">
            <article class="col-lg">
                <div class="card text-center">
                    <img src="../../../../../assets/images/cuentas.jpg" alt="cuentas" class="img-card">
                    <div class="card-body">
                        <h5 class="card-title">Gestiona tus Gastos</h5>
                        <p>lleva el control de tus gastos diarios, ingresos, egresos y mejora el manejo de tu economia hogareña</p>
                    </div>
                </div>
            </article>
            <article class="col-lg">
                <div class="card text-center">
                    <img src="../../../../../assets/images/tarjetas.jpg" alt="tarjetas" class="img-card">
                    <div class="card-body">
                        <h5 class="card-title">Gestiona tus Tarjetas</h5>
                        <p>Crea cuentas con tus tarjetas y gestiona los gastos, obten resumenes de cuentas mensuales por tarjeta</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>


