<header class="hero">
    <section class="hero-text">
        <div class="container">
            <h1>Control de Gastos</h1>
            <h2>Construyendo ideas <i class="far fa-smile"></i></h2>
        </div>
    </section>
    <div style="overflow: hidden;" class="hero-wave" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C234.87,144.38 264.78,10.16 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #808080;"></path></svg></div>
</header>

