<div class="container-fluid container-footer text-center py-2">
    <h3>Developer: Caito Vilas</h3>
    <h4>&copy; 2021</h4>
    <br>
    <h2>Sistema de gestion de Gastos</h2>
    <hr>
    <p>Tecnologias</p>
    <img src="../../../../../assets/images/icoJava.png" alt="Java" class="img-footer">
    <img src="../../../../../assets/images/spring.png" alt="Spring boot" class="img-footer">
    <img src="../../../../../assets/images/icoJava.png" alt="Angular" class="img-footer">
    <img src="../../../../../assets/images/mysql.png" alt="Mysql" class="img-footer">
    <hr>
    <p>Contacto</p>
    <a href="https://www.linkedin.com/in/caito-vilas-4179291b2/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin ref-footer"></i></a>
    <a href="https://github.com/caitoVilas" target="_blank" rel="noreferrer"><i class="fab fa-github ref-footer"></i></a>
</div>
